<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand">SwitchBotMqttApp</a>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item" style="padding:inherit!important;">
                </li>
                <li class="nav-item" style="padding:inherit!important;">
                    <NavLink class="nav-link text-dark" href="deviceconfiguration">
                        <i class="oi oi-cog" ></i> Device Configuration
                    </NavLink>
                </li>
                <li class="nav-item" style="padding:inherit!important;">
                    <NavLink class="nav-link text-dark" href="servicemanagement">
                        <i class="oi oi-pulse"></i> Service Management
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>